/*TYPOGRAPHY*/

body{
  font-size: medium;
  font-family: 'Droid Sans', sans-serif;
  background: hsl(260, 00%, 90%);
  background-color: hsl(260, 10%, 95%);

  /*background-color: rgba(0,0,0,1);*/
  /*background: url('gridme.png');*/
}

h1, h2, li{
  font-family: 'Lato', 'Abril Fatface', helvetica, sans-serif;
  font-weight: 100;
}

h1{
  color: #fff;
  font-size: 3.6em;
}

h2 {
  color:#222;
  color: hsl(260, 78%, 60%);
  font-size: 2.4em;
  margin-bottom: 25px;
  font-weight: 300;
}

p{
  color: #444;
  margin-bottom: 25px;
  line-height: 1.6em;
}

p:last-child{
  margin-bottom: none;
}

/*LAYOUT*/
hgroup{
  padding: 100px 0;
  position: relative;
}

hgroup h1{
  float: left;
}

hgroup img{
  height: 116px;
  width: auto;
  left: 336px;
  position: absolute;
  background: hsl(260, 50%, 70%);
  border-radius:10px;

  /*flip svg image*/
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
section.bulletpoint{
  width: 286px;
  float: left;
  margin-bottom: 50px;
}

section.two-thirds{
  width: 622px;
  float: left;
  margin-bottom;
}

/*adjacent sibling selector*/
section + section.bulletpoint{
  margin-left: 50px;
}

#header-background{
  background: #222;
  opacity: .98;
}

nav{
  height: 60px;
  background: url('low_contrast_linen.png');
  border-top: 2px solid rgba(0,0,0,.59);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.5);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,.5);
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  overflow: visible;
}

nav li{
  float: left;
  font-size: 20px;
  line-height: 20px;
  width: 113px;
  padding-bottom: 12px;
  padding-top: 13px;
  font-weight: 300;
  border-top: 5px solid rgba(165, 135, 225, 0.2);
  text-align: center;
}

li a{
  text-decoration: none;
  color:#ddd;
}

nav li:hover{
  color: #bbb;
}

nav li:hover a{
  color: hsl(260, 92%, 100%);
}

nav li.selected{
  border-top: 5px solid rgba(165, 135, 225, 0.8);
}

nav li.selected a{
  color: hsl(260, 60%, 70%);

}

a{
  color: hsl(260, 60%, 60%);
  text-decoration: none;
}

a.button{
  /*border-top: 5px solid hsl(260, 60%, 60%);*/
  /*border-right: 5px solid hsl(260, 60%, 55%);*/
  background-color: hsl(260, 78%, 50%);
  margin-bottom: 50px;
  font-weight: lighter;
  padding: 10px;
  color:#fff;
  border-radius: 10px;

}

hgroup, nav ul, .content-container{
  width:960px;
  margin-left: auto;
  margin-right: auto;
}

.content-container{
  padding: 50px;
  background: white;
  /*box-shadow: 0 2px 10px rgba(0,0,0,.5);*/
  border-left: 5px solid hsl(260, 20%, 90%);
  border-right: 5px solid hsl(260, 20%, 90%);

}

div#contact{
  margin-left: 672px;
  background: #444;
  padding: 20px;
  border-radius: 5px;
  text-align: center;

}

div#contact h2{
  color: hsl(010, 78%, 60%);
}

ul#contacts li{
  padding-bottom: 10px;
  color:#fff;
  text-align: center;
}
ul#contacts li:nth-child(even){
  color:#fff;
}

section img{
  float: left;
  height: 40px;
  width: auto;
  position: relative;
  bottom: 11px;
}

footer{
  background-color: hsl(260, 20%, 50%);
  background-color: hsl(260, 00%, 90%);
  padding: 50px;
  border-top: 5px solid hsl(260, 00%, 85%);
}

footer p{
  width: 960px;
  margin: 0 auto;
  color: #fff;
  color: hsl(260, 80%, 20%);

  font-family: 'Lato', 'Abril Fatface', cursive;
  font-weight: 300;
}