.flip-svg-img {
  /*flip svg image*/

  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
/*TYPOGRAPHY*/
body {
  font-size: medium;
  font-family: 'Droid Sans', sans-serif;
  background: #e6e6e6;
  background-color: #f2f1f4;
}
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: 100;
}
h1 {
  color: #fff;
  font-size: 3.6em;
}
h2 {
  color: #7e49e9;
  font-size: 2.4em;
  margin-bottom: 25px;
  font-weight: 300;
}
p {
  color: #444444;
  margin-bottom: 25px;
  line-height: 2.4em;
}
p:last-child {
  margin-bottom: none;
}
/*LAYOUT*/
hgroup {
  padding: 100px 0;
  width: 452px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
hgroup h1 {
  float: right;
}
hgroup img {
  height: 116px;
  width: auto;
  position: absolute;
  background: #a68cd9;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  /*flip svg image*/

  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
section img {
  float: left;
  height: 40px;
  width: auto;
  position: relative;
  bottom: 11px;
}
section.bulletpoint {
  width: 286px;
  float: left;
  margin-bottom: 50px;
}
section + section.bulletpoint {
  margin-left: 50px;
}
section.two-thirds {
  width: 622px;
  float: left;
}
#intro {
  background: #8f5afa;
  border-bottom: 100px solid #6d38d8;
}
#intro h2 {
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  font-size: 4.2em;
  margin: 90px 0;
  padding: 10px 0;
  background: #7e49e9;
}
#intro p {
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
}
#projects {
  text-align: center;
}
#skills .content-container {
  background: #ddd;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topleft: 5px;
  -moz-background-clip: padding;
  border-top-left-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
  color: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
}
#skills h2 span {
  font-family: 'Droid Sans', sans-serif;
  background: #e99949;
  padding: 10px;
  display: inline;
  color: white;
}
#skills h2 {
  margin-bottom: 50px;
}
#skills table {
  border: 1px solid #bbb;
  float: left;
  margin-left: 50px;
}
#skills table:first {
  margin-left: 0px;
}
#skills tr:nth-child(odd) {
  background: #eee;
}
#skills tr:nth-child(even) {
  background: #fff;
}
#skills td {
  padding: 10px;
  margin-right: 50px;
  font-family: 'Lato';
  font-width: 300;
}
#blog div {
  padding: 50px;
  background: white;
  border-left: 5px solid #e4e0eb;
  border-right: 5px solid #e4e0eb;
}
nav {
  height: 60px;
  background: url('../../static/img/low_contrast_linen.png');
  border-top: 2px, solid, rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow: visible;
  text-align: center;
}
nav ul {
  width: 460px;
  margin-left: auto;
  margin-right: auto;
}
nav li {
  float: left;
  font-size: 20px;
  line-height: 20px;
  width: 113px;
  padding-bottom: 12px;
  padding-top: 13px;
  font-weight: 300;
  border-top: 5px solid rgba(165, 135, 225, 0.2);
  text-align: center;
}
nav li:hover {
  color: #bbb;
}
nav li:hover a {
  color: #fff;
}
nav li a {
  text-decoration: none;
  color: #ddd;
}
nav li.selected {
  border-top: 5px solid rgba(165, 135, 225, 0.8);
}
nav li.selected a {
  color: #a385e0;
}
.fixed-nav,
.fixed-ul-nav {
  width: 100%;
  position: fixed;
  top: 0;
}
a {
  color: #9863ff;
  text-decoration: none;
}
a.button {
  background-color: #5e1ce3;
  margin-bottom: 50px;
  font-weight: lighter;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}
#header-background {
  background: #222;
  opacity: .98;
}
.content-container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.bordered-content-container {
  padding: 50px;
  background: white;
  border-left: 5px solid #e4e0eb;
  border-right: 5px solid #e4e0eb;
}
.content-container {
  padding: 50px;
}
footer {
  background-color: #776699;
  background-color: #e6e6e6;
  padding: 50px;
  border-top: 5px solid #d9d9d9;
}
footer p {
  width: 960px;
  margin: 0 auto;
  color: #fff;
  color: #250a5c;
  font-family: 'Lato', 'Abril Fatface', cursive;
  font-weight: 300;
}
