{% extends "base.html" %}
{% block content %}
<section class="two-thirds">
  <h2>Hi!</h2>
  <p>I’m a programmer, student, musician, and all around nerdy human being.  I recently graduated from Johns Hopkins University and am currently never graduating from Hacker School. I play indie rock music in a band called Young Villains.</p>
  <p>I like drinking tea all day, writing (words, code, notes, and to do lists), teaching (science, guitar, and music tech), reading comic books and books about programming, swing dancing, tweeting and blogging inconsistently, and sentences that are too long to easily parse.</p>
  <p>This website is mostly on the internet right now to see how easy it was to get up a site in flask. It was pretty easy. Thanks <a href="#">Flask</a> for being awesome</p>

</section>
<section class="bulletpoint">
  <h2>Find Me On:</h2>
  <ul id="contacts">
    <li>Twitter</li>
    <li>Linkedin</li>
    <li>Github</li>
    <li>Rosalind.info</li>
    <li>Google Plus</li>
    <li>Sound Cloud</li>
  </ul>
</section>
{% endblock %}
