<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>David Lichtenberg</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/meyerweb-reset.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/cf.css')}}" />
    {# <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" /> #}
    <link rel="stylesheet/less" type="text/css" href="{{url_for('static', filename='less/style.less')}}" />
    <script src="{{url_for('static', filename='js/less.js')}}" type="text/javascript"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
  <body>
    <div id="header-background">
      <header>
        <hgroup class="cf">
          <h1>David <br />Lichtenberg</h1>
          <div id="header-icons">
            <img src="{{url_for('static', filename='img/science.svg')}}" />
            <img id="first" src="{{url_for('static', filename='img/coffee.svg')}}" />
          </div>
          {# {% include 'contact_list.html' %} #}
        </hgroup>
        <nav>
          <ul>
            {% for page in pages %}
                <li><a href="#" class="on-page">{{page}}</a></li>
            {% endfor %}
                <li><a href="http://www.thephysicaldangersofworkingwithcode.wordpress.com">blog</a></li>
          </ul>
        </nav>
      </header>
    </div>
        <div id="content-background" class="cf">      
        {% for section in pages %}
            <section id="{{section}}" data-type="background" data-speed="100">
                <div class="content-container cf" >
                {% include section + ".html" %}
                </div>
            </section>
        {% endfor %}
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    </body>
</html>
